# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Build / datos locales
.build/
bin/wl-find-cursor
scripts/config/atalhos.json
scripts/config/macro_generado.json

# Sistema
.DS_Store
*.log
