[Unit]
Description=ydotool daemon (entrada virtual ratón/teclado)
Documentation=https://github.com/ReimuNotMoe/ydotool
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/sg input -c "/usr/bin/ydotoold -p /tmp/.ydotool_socket"
Restart=on-failure
RestartSec=2
Environment=YDOTOOL_SOCKET=/tmp/.ydotool_socket

[Install]
WantedBy=default.target
